header {
  overflow: hidden;
}

#title-font {
  font-family: 'Yellowtail', cursive;
  font-size: 34px;
  font-weight: 500;
}

#logo-tagline {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 11px;

}

#logo-image {
  padding-right: 10px;
}


#logo-title li{
  float: left;
  display: inline-block;
  z-index: auto;
  padding-bottom: 25px;
}

#social-icons {
  float: right;
  padding: 0px 10px;


}

#social-icons li {
  display: inline-block;
  padding-bottom: 25px;

}

body {
  margin: auto;
  width: 900px;
}

hr {
	height: 6px;
	background: url(http://ibrahimjabbari.com/english/images/hr-11.png) repeat-x 0 0;
  border: 0;
  padding-bottom: 50px;


  }


#post-title {
  font-family: 'Fjalla One', sans-serif;
  font-size: 34px;
  font-weight: 700;
}
